
   .container {
       padding: 20px;
       background-color: #f0f0f0;
   }

   .listItem {
       margin-bottom: 10px;
       border: 1px solid #ccc;
       padding: 10px;
   }

   .list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }